<div id="mainContentContainer">
  <div class="tableView">
    <div id="tableTitle">
      <h1><strong>Groups</strong></h1>
    </div>
      <div id="tableHeader">
        <div id="nameLabel" >
          <p id="nameText" class="tableHeaderLabels"><strong>NAME</strong></p>
        </div>
        <div id="statusLabel" >
          <p id="statusText" class="tableHeaderLabels"><strong>STATUS</strong></p>
        </div>
        <div id="accountsLabel" >
          <p id="accountsText" class="tableHeaderLabels"><strong>ACCOUNTS</strong></p>
        </div>
      </div>
    <div >
      <app-table-item [group]="dataItem" *ngFor="let dataItem of data$ | async | searchPipe: filter"></app-table-item>
    </div>
  </div>
  <div id="actionBarComponent">
    <app-search (searchEvent)="this.filter=$event" id="SearchComponent"></app-search>
    <div id="addGroupBlock">
      <p (click)="openModal()" id="addNewBtn" ><strong>+ Add new </strong></p>
    </div>
  </div>
</div>
<app-add-group-modal (groupEvent)="addGroup($event)"></app-add-group-modal>

