#mainContentContainer{
  display: flex;
  width: 100%;
  height: 100%;
}

.tableView{
  background-color: #EBEBEB;
  height: 100%;
  width: 82%;
}

#actionBarComponent{
  width: 18%;
  height: 100%;
}

table{
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-color: #FFFFFF;
  border-bottom: lightgrey 1px solid ;
  margin: 0;
}


.tableHeader{
  text-align: start;
}

#tableTitle{
  height: 10%;
  display: flex;
  align-items: center;
  margin: 2.5vh 0 0 3vw;
}

#tableHeaderRow{
  background-color: #EBEBEB;
  border-bottom: lightgrey 1px solid ;
}

#tableHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nameLabel{
  flex: 35vw;
}

#statusLabel{
  flex: 20vw;
}

#accountsLabel{
  flex: 40vw;

}

#nameText{
  margin-left: 3vw;
}

#statusText{
  margin-left: 5vw;
}

#accountsText{
  margin-left: 7vw;
}

.tableHeaderLabels{
  font-size: 12px;
  color: #6D7A85;
}

#SearchComponent{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 6%;
  background-color: #E0E0E0;
  width: 100%;
  border-left: 1px solid lightgrey;
}

#addGroupBlock{
  background-color: #efefef;
  height: 94%;
  display: flex;
  justify-content: center;
  border-left: 1px solid lightgrey;
  border-top:  1px solid lightgrey;

}

#addNewBtn{
  display: flex;
  justify-content: center;
  margin-top: 9vh;
  background-color: #F7A600;
  max-height: 2vh;
  padding:9px 6px 6px 6px;
  width: 80%;
  font-size: 15px;
  color: #FFFFFF;
  border-radius: 3px;
  cursor: pointer;
}

