<form #groupForm="ngForm" (ngSubmit)="submit()">
  <div id="addGroupModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="close()">&times;</span>
      <p>Add new group</p>
      <div id="inputFieldsWrapper">
        <input type="text"  placeholder="Name" name="name" required [minLength]="1" [(ngModel)]="group.name">
        <select [(ngModel)]="status" required name="Status" id="statusDropdown">
          <option id="statusPlaceholder" value="" disabled selected>Select status</option>
          <option *ngFor="let status of statusEnumKeys" [ngValue]="status">{{status | titlecase}}</option>
        </select>
        <input [(ngModel)]="group.accounts" required min="0" name="accounts" type="number" placeholder="Accounts">
        <button id="submitBtn" [disabled]="!groupForm.form.valid" type="submit">Submit</button>
      </div>
    </div>
  </div>
</form>
