.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 350px;
  height: 200px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#inputFieldsWrapper{
  display: flex;
  flex-direction: column;
}

.error {
  background-color: red;
}

#submitBtn{
  align-self: flex-end;
  background-color: #F7A600;
  padding: 6px 6px 8px 6px;
  font-size: 15px;
  color: #FFFFFF;
  border-radius: 3px;
  border:0;
  font-family: SourceSansPro-Regular, sans-serif;
  cursor: pointer;
}

input{
  margin-bottom: 1vh;
  margin-top: 1vh;
  width:70%;
  outline: none;
  border: 1px solid darkgrey;
  border-radius: 3px;
  background-color: #E0E0E0;
}

select{
  width: 72%;
  border-radius: 3px;
  outline: none;
  border: 1px solid darkgrey;
  background-color: #E0E0E0;
}

select:invalid{
  color:gray;
}
