.mainContainer{
  display: flex;
  width: 99.9%;
  height: 99.9%;
}

.topBar{
  width: 100%;
  height: 8%;
  display: flex;
  vertical-align: middle;
  border-bottom: solid lightgrey 1px;
}

#topMainWrapper{
  width: 100%;
}

.sideBar{
  width: 6em;
  height: 100%;
  border-right: 1px solid lightgrey;
}

.listBar{
  width: 6em;
  height: 92%;
  border-right: 1px solid lightgrey;
}

#extendBtnWrapper{
  display:flex;
  justify-content: center;
  align-self: center;
  margin: 20.5vh 28px 0 28px;
  padding: 12.5px 0 12.5px 0;
  border-radius: 0.4em;

  &:hover{
    background-color: orange;
    transition: 0.2s;
  }
}

.cornerBlock{
  width: 6em;
  height: 8%;
  border-bottom: solid lightgrey 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleBlock{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileBlock{
  display: flex;
}

.mainContent{
  height: 91.9%;
  width: 100%;
}

.routerContent{
  width: 100%;
  height: 100%;

}

.lightGrey{
  color: #848c96;
}

.darkGrey{
  color: #3D3D3D;
}

.profileText{
  margin: 0;
  font-size: 0.75em;
}

#profileIconWrapper{
  width: 38px;
  height: 38px;
  border: 1px solid lightgrey;
  border-radius: 0.4em;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2em;
  display: flex;
  justify-content: center;
}

#profileImageIcon{
  max-width: 36px;
  max-height: 36px;
  align-self: center;
}

#qpTitle{
  color: #848c96;
}

li{
  // Define size
  height: 1em;
  width: 2.5em;

  //removes bullet points from list
  list-style: none;

  // Space between content and borders
  margin-top: 3vh;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  border-radius: 0.4em;


  // Align content of li
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    background-color: orange;
    transition: 0.2s;
  }

}



ul{
  // Removes bulletpoints margin & padding
  margin: 0;
  padding: 0;
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#profileName{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.5em;
  white-space: nowrap;
}

#companyLogoIcon{
  margin: auto;
}

