<div class="mainContainer">
  <div class="sideBar">
    <div class="cornerBlock">
      <img id="companyLogoIcon" src="assets/icons/icon-eflow-icon-quantity.svg">
    </div>
    <div class="listBar">
      <ul>
        <li><img src="assets/icons/personal.svg"></li>
        <li><img src="assets/icons/distributors.svg"></li>
        <li><img src="assets/icons/accounts.svg"></li>
        <li><img src="assets/icons/users.svg"></li>
        <li><img src="assets/icons/administrator.svg"></li>
      </ul>
      <div id="extendBtnWrapper">
        <img id="arrowIcon" src="assets/icons/arrow.svg">
      </div>
    </div>
  </div>
  <div id="topMainWrapper">
    <div class="topBar">
      <div class="titleBlock">
        <p id="qpTitle"><strong>Quantity </strong>admin console</p>
      </div>
      <div class="profileBlock">
        <div id="profileName">
          <strong class="darkGrey profileText">Nicolai Nielsen</strong>
          <p class="darkGrey profileText">nn@quantity.dk</p>
        </div>
        <div id="profileIconWrapper" >
          <img id="profileImageIcon" src="assets/icons/employee.svg"/>
        </div>
      </div>
    </div>
    <div class="mainContent">
      <div class="routerContent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
