#statusIndicator{
  height: 13px;
  width: 13px;
  border-radius: 3px;
  margin-left: 5vw;
}

#statusText{
  margin-left: 5px;
}

.tableView {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-bottom: 1px solid lightgrey;
  width: 100%;

  &:hover {
    background-color: #dbeffc;
    transition: 0.5s;
  }

  &:hover #accountsWrapper{
    display: none;
    transition: 5s;
  }

  &:hover #hoverButtonsWrapper{
    display: flex;
    transition: 5s;
  }
}

.statusWrapper {
  flex: 20vw;
  display: flex;
  flex-direction: row;
  align-items: baseline;

}

#nameWrapper {
  flex: 35vw;
}

#accounts{
  margin-left: 7vw;
}

.name{
  margin-left: 3vw;
}

#accountsWrapper {
  flex: 40vw;
}

#hoverButtonsWrapper{
  flex: 40vw;
  display: none;
  flex-direction: row;
  white-space: nowrap;

}

.hoverButtons{
  font-size: 12px;
  color: #008AC6;
  padding: 6px 12px 6px 12px;
  cursor: pointer;

  &.moreButtonWrapper{
    display: flex;
    align-items: center;
    max-height: 15px;
    align-self: center;
  }

  &:hover{
    background-color: #acdaf3;
    border-radius: 5px;
    transition: 0.2s;
  }
}

#moreIcon{
  margin: 10px;
}
