<div class="tableView">
  <div id="nameWrapper">
  <p class="name"><strong>{{group.name}}</strong></p>
  </div>
  <div class="statusWrapper">
    <div id="statusIndicator" [ngStyle]="{'background-color': color}"></div>
    <p id="statusText">{{text}}</p>
  </div>
  <div id="accountsWrapper">
  <p id="accounts">{{group.accounts}}</p>
  </div>
  <div id="hoverButtonsWrapper">
    <p class="hoverButtons"><strong>EDIT SETTINGS</strong></p>
    <p class="hoverButtons"><strong>ADD ACCOUNTS</strong></p>
    <p class="hoverButtons"><strong>MANAGE ACCOUNTS</strong></p>
    <div class="hoverButtons moreButtonWrapper">
      <p><strong>MORE</strong></p>
      <img id="moreIcon" src="assets/icons/more.svg">
    </div>
  </div>
</div>
