@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url("assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: SourceSansPro-Regular, sans-serif;
}

strong{
  font-family: SourceSansPro-Bold, sans-serif;
}

