#searchContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 8%;
  background-color: #E0E0E0;
  width: 100%;
  border-left: 1px solid lightgrey;
}

input{
  width: 75%;
  outline: none;
  border: 0;
  background-color: #E0E0E0;
  font-size: 18px;
  margin-left: 2vh;
}

img{
  width: 25%;
  max-height: 2.5vh;
  background-color: #E0E0E0;
}

#cancelIcon{
  fill: #6D7A85;
  color: #6D7A85;
  max-height: 2vh;
  max-width: 2vh;
  display: none;
}

#searchInput::-webkit-search-cancel-button{
  position:relative;
  right:20px;

  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius:10px;
  background: red;
}
